TFLTest.pro.user
TFLTest.pro.user.9521c8d
TFLTest.pro.user.686643c
Debug/
.vs/
.obj/
.moc/
.ui/
.qmake.stash
TFLTest.vcxproj.filters
TFLTest.vcxproj.user
tiles/
images/runway_out.png
TFLTest.pro.user.255759b
build/
